@charset "utf-8";

html {
  background-color: #fff;
  color: #000;
}

/* 다크 모드 - addclass */
html.dark-theme {
  background: #2b3e50;
  color: #bbb;
}

/* 중복 속성 시작 */
.page-header,
.page-footer {
  height: 100px;
}

.menu,
.option {
  height: 40px;
}

:where(.logo, .menu ul li, .option label):hover {
  cursor: pointer;
}

:where(.option, .solution-container) button {
  all: unset;
  cursor: pointer;
}
/* 반복되는 속성 끝 */

#wrap {
  width: 100vw;
  height: auto;
}

/* 헤더 기본 설정 시작 */
.page-header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* 헤더 로고 */
.page-header > .logo {
  width: 160px;
  height: 64px;
  background: url(../img/day_logo.png) no-repeat left center / 160px 64px;
}

/* 헤더 네비게이션 컨테이너 시작*/
.page-header > .menu {
  width: 40vw;
  line-height: 40px;
}

.menu > ul {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.menu > ul li:hover {
  color: #82a584;
}

.page-header #search {
  display: none;
}

.page-header .option {
  width: 10vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.option .option-btn {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: no-repeat center center / 24px 24px;
  box-shadow: 1px 1px 10px 2px rgb(0 0 0 / 20%);
  transition: box-shadow 0.5s;
}

.option .search {
  background-image: url(../img/search.png);
}

.option .language-change {
  background-image: url(../img/language.png);
}

.option-btn:hover {
  box-shadow: 0px 0px 3px 2px rgb(0 0 0 / 20%);
}

.option input[type="checkbox"] {
  display: none;
}

.option input[type="checkbox"]:checked + label {
  background-image: url(../img/nightmode.png);
}

.option label {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: url(../img/daymode.png) no-repeat center center / 24px 24px;
  box-shadow: 1px 1px 10px 2px rgb(0 0 0 / 20%);
  transition: box-shadow 0.5s;
}
/* 공통 - 헤더 기본 설정 끝 */

/* 공통 - 푸터 기본 설정 */
.page-footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.output span {
  color: #000;
}
