@charset "utf-8";

/* 메인 - 퀴즈 섹션 / 첫 번째  */
#wrap main {
  width: 100%;
  height: 1400px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: center;
}

.quiz-container {
  width: 100%;
  max-width: 80%;
  height: 600px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
  /* border: 2px solid #82a584; */
  border-radius: 20px;
  box-shadow: 2px 4px 20px rgb(80 102 102 / 20%);
}

.quiz-container > h1 {
  font-size: 2.4em;
}

.quiz-container > #question {
  font-size: 1.3rem;
}

.quiz-container > div[class*="container"] {
  width: 80%;
  height: 300px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  gap: 50px;
  border: 2px solid #82a584;
  border-radius: 20px;
}

.quiz-container > div[class*="container"] > button {
  width: 40%;
  height: 50px;
  background: #e28180;
  border: 1px solid #e28180;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.2s;
}

.quiz-container > div[class*="container"] > button:hover {
  background: #38a450;
  border: 1px solid #38a450;
  color: #fff;
}

.quiz-container > p#progress {
  font-size: 1.4em;
}

/* 메인 - 퀴즈 섹션 / 두 번째  */
#wrap main > div[class*="solution"] {
  width: 80%;
  height: 700px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  background: #e7e7e7;
  box-shadow: 2px 4px 20px rgb(80 102 102 / 20%);
  border-radius: 20px;
  position: relative;
}

#wrap main > div[class*="solution"] > h2 {
  width: 100%;
  height: 60px;
  line-height: 60px;
  text-align: center;
}

#wrap main > div[class*="solution"] > div[class*="guide"] {
  width: 50%;
  height: 30vw;
  background: yellow;
}

#wrap main > div[class*="solution"] > button {
  padding: 0.5% 1.5%;
  position: absolute;
  bottom: 20px;
  right: 100px;
}

@media all and (min-width: 1024px) {
  #wrap main > .solution-container > .guide {
    width: 768px;
  }
}

/* 0px 10px 50px rgb(0 0 0 / 10%); */
/* 0 1px 6px 0 rgb(32 33 36 / 28%); */
/* 0px 11px 21.25px 3.75px rgb(64 58 180 / 9%) */
