@charset "utf-8";

/* 하늘섬 컨테이너 */
.main {
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 하늘섬 */
.main .main__floating-island {
  /* width: 52vw; */
  /* height: 56vw; */
  width: 1000px;
  height: 1080px;
  background: url(../img/main.png) no-repeat center center / 100% 100%;
  position: relative;
  animation: floating 4s linear infinite;
}

/* 하늘섬 - 공중에 떠다니는 애니메이션 */
@keyframes floating {
  0% {
    transform: translateY(0px);
  }

  10% {
    transform: translateY(10px);
  }

  20% {
    transform: translateY(20px);
  }

  30% {
    transform: translateY(30px);
  }

  40% {
    transform: translateY(40px);
  }

  50% {
    transform: translateY(50px);
  }

  60% {
    transform: translateY(40px);
  }

  70% {
    transform: translateY(30px);
  }

  80% {
    transform: translateY(20px);
  }

  90% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0px);
  }
}

.main__floating-island a {
  position: absolute;
  width: 30px;
  height: auto;
}

/* 동물 캐릭터 위 텍스트 */
.main__floating-island a::after {
  display: block;
  position: absolute;
  height: 20px;
  background-color: #000;
  color: #fff;
  border-radius: 5px;
  text-align: center;
}

/* 동물 캐릭터(양) */
.main__floating-island a:nth-of-type(1) {
  top: 33%;
  right: 25%;
}

.main__floating-island a:nth-of-type(1)::after {
  content: "HTML";
  width: 50px;
  top: -20px;
  left: -10px;
}

/* 동물 캐릭터(닭) */
.main__floating-island a:nth-of-type(2) {
  top: 30%;
  right: 40%;
}

.main__floating-island a:nth-of-type(2)::after {
  content: "CSS";
  width: 40px;
  top: -20px;
  left: -5px;
}

/* 동물 캐릭터(다람쥐) */
.main__floating-island a:nth-of-type(3) {
  top: 35%;
  left: 45%;
}

.main__floating-island a:nth-of-type(3)::after {
  content: "JavaScript";
  width: 90px;
  top: -20px;
  left: -35px;
}

/* 동물 캐릭터(돼지) */
.main__floating-island a:nth-of-type(4) {
  top: 42%;
  left: 35%;
}

.main__floating-island a:nth-of-type(4)::after {
  content: "J-Query";
  top: 0;
  left: 30px;
  width: 70px;
}

/* 동물 캐릭터 이미지 */
.main__floating-island a img {
  width: 100%;
}

@media all and (min-width: 1024px) {
  #wrap main > .solution-container > .guide {
    width: 768px;
  }
}
/* 메인 - 퀴즈 섹션 */
