@charset "utf-8";

.main {
  width: 1400px;
  height: 800px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}

.main__slider-wrapper {
  width: 5600px;
  height: 800px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  transition: transform 0.5s;
  background-color: green;
}

/* .move-right {
  transform: translateX(-1400px);
  transition: transform 0.5s;
} */

.main__slider-wrapper .main__question {
  width: 1200px;
  height: 700px;
  background-color: purple;
}

.main__question:nth-child(2n) {
  background-color: blue;
}

/* 이미지 슬라이드 화살표 */
.main .main__arrow {
  position: absolute;
  top: 50%;
  cursor: pointer;
}

.main .left-slider {
  left: 0;
}

.main .right-slider {
  right: 0;
}
